name: Run Python Tests

on: [pull_request]

permissions:
  contents: read

jobs:
  run_tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Run unittest suite
      run: python -m unittest discover -s tests -v
