name: Pass or fail

on: [pull_request]

permissions:
  contents: read

jobs:
  run_tests:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Run tests
      run: |
        python -m unittest discover -s . -p "test_*.py"
